@use '/src/shared/styles/vars.scss' as *;
@use '/src/shared/styles/mixins.scss' as *;

.Button {
  display: inline-flex;
  padding-block: 16px;
  padding-inline: 12px;
  background-color: $green;
  color: white;
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;

  @include hover(background-color, $green-hover);

  &:disabled {
    background-color: $gray-disabled-button;
    cursor: not-allowed;
  }
}
