@use '/src/shared/styles/vars.scss' as *;
@use '/src/shared/styles/holders.scss' as *;

.Input {
  padding: 16px 50px 16px 16px;
  font-size: 20px;
  line-height: 25px;
  border-radius: 10px;
  border: 1px solid $gray-border;
  color: $gray-input-text;
  font-weight: 600;
  caret-color: $blue;

  &::placeholder {
    color: $gray-placeholder;
    font-weight: 600;
  }

  &:focus:not(.Input__error) {
    outline: 2px solid $green;
  }

  &__blockInput {
    position: relative;
  }

  &__error {
    outline: 2px solid $error;
  }

  &__labelText {
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    margin-bottom: 8px;
  }

  &__textError {
    @extend %secondary;

    display: inline-block;
    margin-top: 8px;
    color: $error;
  }
}
