@use '/src/shared/styles/vars.scss' as *;

.Input {
  padding: 16px;
  font-size: 20px;
  line-height: 25px;
  margin-top: 8px;
  border-radius: 10px;
  border: 1px solid $gray-border;

  &Error {
    box-shadow: 0 0 8px rgb(247 40 40);
  }

  &::placeholder {
    font-weight: 500;
  }

  &__label {
    font-size: 20px;
    line-height: 25px;
  }

  &__error {
    font-size: 12px;
    color: rgb(247 40 40);
  }
}
