.AuthForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-block: 16px;

  &__blockForm {
    width: 400px;
  }

  &__info {
    margin-bottom: 16px;
  }

  &__formContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
