@use '/src/shared/styles/vars.scss' as *;

.RegisterPasswordErrors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  &__passwordError {
    display: flex;
    gap: 8px;
    align-items: center;

    & > span {
      color: $gray-secondary-text;
    }
  }
}
