@use '/src/shared/styles/mixins.scss' as *;
@use '/src/shared/styles/vars.scss' as *;

.WineListCard{
  &__cards {
    grid-column: span 9;
    row-gap: 16px;

    @include grid;
  }

  &__title{
    grid-column: 1 / -1;
    text-transform: uppercase;
  }

  &__line{
    grid-column: 1 / -1;
    height: 1px;
    background-color: $gray-border;
  }
}