@use '/src/shared/styles/vars.scss' as *;

.WrapperAuthPage {
  margin-top: 16px;
  max-width: 1000px;
  margin-inline: auto;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray-border;
  }
}
