@use '/src/shared/styles/mixins.scss' as *;
@use '/src/shared/styles/vars.scss' as *;

.Header {
  margin-top: 50px;
  padding-inline: 20px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include padding-inline;
  }

  &__leftSide {
    display: flex;
    gap: 60px;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
  }

  &__searchBlock {
    position: relative;
    width: 700px;
  }

  &__search {
    padding-block: 18px;
    padding-inline-start: 40px;
    border-radius: 30px;
    border: none;
    background-color: $gray-light;

    &::placeholder {
      font-weight: 500;
    }
  }

  &__iconSearch {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__rightSide {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__item {
    text-transform: uppercase;
    cursor: pointer;
  }

  &__languages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: $gray-light;
    transition: transform var(--transition-time);
    transform: scaleY(0);
    transform-origin: top;
  }

  &MenuOpen {
    & > ul {
      transform: scaleY(1);
    }
  }
}
